In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
X=pd.read_csv('dataVeryNew.csv',header=None)

In [7]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,590,591,592,593,594,595,596,597,598,599
0,-0.379692,-0.454104,-0.415149,-0.265008,-0.079110,0.039784,0.035452,-0.052165,-0.107993,-0.044552,...,-1.106869,-1.182543,-1.243200,-1.315114,-1.397917,-1.465740,-1.446542,-1.255863,-0.881428,-0.405025
1,-0.830463,-0.933741,-1.228357,-1.612108,-1.925445,-1.996463,-1.755858,-1.293943,-0.767981,-0.297093,...,0.945751,1.326272,1.472521,1.449853,1.321444,1.203527,1.241874,1.488403,1.851707,2.161115
2,0.795359,0.230234,-0.283559,-0.698876,-1.016541,-1.239970,-1.337719,-1.246307,-0.927059,-0.418561,...,2.364837,2.295799,1.971743,1.566869,1.231217,1.037991,0.984538,1.013370,1.023767,0.916695
3,0.590751,0.996320,1.426852,1.725096,1.795456,1.668370,1.433989,1.145003,0.823642,0.519147,...,-0.452994,-0.497307,-0.385697,-0.189608,0.013005,0.169361,0.237480,0.173079,-0.023464,-0.273444
4,-0.737616,-0.548115,-0.254184,0.019243,0.144307,0.064583,-0.154560,-0.373223,-0.482244,-0.445624,...,-0.400257,-0.369076,-0.398981,-0.488138,-0.656087,-0.898467,-1.148157,-1.302496,-1.308680,-1.183336

In [10]:
y=pd.read_csv('finalLabels.csv', header=None)

In [11]:
y.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0,1,2,3,4,5,6,7,0,1,...,6,7,0,1,2,3,4,5,6,7

In [12]:
y=y.transpose()

In [15]:
y.shape

(48, 1)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=121)

In [17]:
from sklearn.svm import SVC
model_svc=SVC(kernel='linear',decision_function_shape='ovo',C=1)
model_svc.fit(X_train,y_train)
pred_svc=model_svc.predict(X_test)

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred_svc)

array([[1, 0, 0, 0, 0, 0],
       [0, 3, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 3, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1]])

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred_svc))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         3
           4       1.00      1.00      1.00         1
           5       1.00      1.00      1.00         3
           6       1.00      1.00      1.00         1
           7       1.00      1.00      1.00         1

    accuracy                           1.00        10
   macro avg       1.00      1.00      1.00        10
weighted avg       1.00      1.00      1.00        10